<p>Landing page</p>

<%= link_to 'Become artlover?', new_user_registration_path %>
Or

<%= link_to 'An artist?', new_user_registration_path %>

Or Sign Up with...

<%= link_to 'facebook' %>
<%= link_to 'Instagram' %>
<%= link_to 'Pinterest' %>