<h1> This is an index</h1>
<% if user_signed_in? %>
<%= link_to 'Upload your artwork here!', new_artwork_path %>
<% end %>
<br>

<% @artworks.each do |artwork| %>
	<%= link_to (image_tag artwork.image.url(:medium)), artwork %>
	<%= link_to artwork.caption, artwork %>
	<%= pluralize(artwork.likes.count, "Like") %>
	<%= pluralize(artwork.comments.count, "Comment") %>

<% end %>


	