<%# if user_signed_in? %>
<%# if current_user.artist? %>
<%#= link_to 'Upload your artwork here!', new_artwork_path %>
<%# end %>
<%# end %>

<div class="container-full ">
  <div id="carousel-id" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-id" data-slide-to="0" class=""></li>
      <li data-target="#carousel-id" data-slide-to="1" class=""></li>
      <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag 'artworks.jpg' %>
        <div class="carousel-caption">
          <h2>Hello people</h2>
        </div>
      </div>
      <div class="item">
        <%= image_tag 'artworks.jpg' %>
        <div class="carousel-caption">
          <h2>The social community for artists and art lovers</h2>
        </div>
      </div>
      <div class="item">
        <%= image_tag 'artworks.jpg' %>
        <div class="carousel-caption">
          <h2>Hello people</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
   <div class="col-sm-6 col-sm-offset-4">
     <class="label label-primary"> <%= link_to 'Gallery', artworks_path, class: "label label-primary" %>
     <% Category.all.each do |category| %>
     <%= link_to category.name, artworks_path(category: category.name),class: "label label-primary"%>
     <% end %></class="label">
   </div>
 </div>
</div>



<br>

<div class="container" style="margin-top: 20px;">
 <% flash.each do |name, msg| %>
 <%= content_tag :div, msg, class: "alert alert-info"  %>
 <% end %> 
</div>

<div class="container">
  <section>
  <div class="page-header"><h1 class="text-center" id="header">Artworks</h1></div>
    <div class="row">
      <% @artworks.each do |artwork| %>
      <div class ="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="panel panel-default">
          <div class="panel-bodyy">
            <%=link_to (image_tag artwork.image.url(:medium), class: 'img-responsive'), artwork %>
          </div>
          <div class="panel-footer">
            <p><%=link_to artwork.caption,artwork,class: 'caption'%></p>
            <hr>
            <p>Artwork by
              <%= link_to artwork.user.username %></p>

              <%#= pluralize(artwork.likes.count, "Like") %>
              <hr>
              <p class="pos"><%= number_to_currency(artwork.price) %><!-- <i class="fa fa-cart-arrow-down fa-2x"></i> --></p>
              <div class="row">
            <!-- <div class="pull-left">
               <p><%= number_to_currency(artwork.price) %></p>
             </div> -->
             <div class="pull-right">
              <span class="icon" id="icon">
                <i class="fa fa-eye"></i><%= artwork.get_upvotes.size %>
                <%= link_to  like_artwork_path(artwork), method: :get, class: 'data' do %>
                <i class="fa fa-heart-o"></i>
                <% end %>
                <%= artwork.get_upvotes.size %>
                <i class="fa fa-comment-o"></i><%= artwork.comments.count %> 
              </span> 
            </div>

          </div>
        </div>
      </div>
    </div>
    <% end %> 
  </div>
</section>
</div>








