<div id="artwork_show">
  <h1>
    <%= @artwork.caption%>
  </h1>
  <h3 class="artistname">
    Shared by
    <%= @artwork.user.username %>
    about
    <%= time_ago_in_words(@artwork.created_at)%>
    ago
  </h3>
  
  <div class="clearfix">
    <div class="artwork_content1">
      <%= image_tag @artwork.image.url(:large) %>
      <%= @artwork.description %>
    </div>

    <div class="artwork_data">
      <%= @artwork.get_upvotes.size %>
      <%= link_to  like_artwork_path(@artwork), method: :get, class: 'data' do%>
      <i class="fa fa-heart-o"></i>
      <% end %>

      <p class="data">
       <%= @artwork.comments.count %> <i class="fa fa-comment-o"></i>
     </p>
     GH <%= @artwork.price %>
     <%= link_to 'Buy', artwork_purchases_path(@artwork), method: :post %>
     <br>

     <%= social_share_button_tag(@artwork.caption) %>

   </div>
 </div>
</div>
<%= pluralize(@artwork.comments.count, "Comment") %>
<p>Comments</p>

<% @comments.each do |comment| %>
<%= comment.user.username %>
<%= comment.content %>
<% end %>

<%= render 'comments/form' %>

<% if user_signed_in? %>
<% if current_user.artist? %>
<%= link_to 'Edit', edit_artwork_path(@artwork) %>
<%= link_to 'Delete', artwork_path(@artwork), 
method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>
<% end %>

