<!DOCTYPE html>
<html>
<head>
  <title>Afrikart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Gallery', artworks_path %>
<% Category.all.each do |category| %>
<%= link_to category.name, artworks_path(category: category.name) %>
<% end %>




<% if admin_signed_in? %>
<% else %>
<% if user_signed_in? %>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: {confirm: 'Do you want to log out?'}%>
<%= current_user.username %> is signed in
<% else %>
<%= link_to 'Become an artlover!', new_user_registration_path %>
<%= link_to 'Log In', new_user_session_path %>
<%= link_to 'Sign Up As an Artist', new_user_registration_path %> 
<% end %>
<% end %>





<% if admin_signed_in? %>
<%= link_to'Create Artist. Admin ONLY!', new_admin_user_path %>
<% end %>


<% if admin_signed_in? %>
<%= link_to 'Admin Sign Out', destroy_admin_session_path, method: :delete,
                data: {confirm: 'Are you sure?'} %>
<%= link_to 'View artists. Admin ONLY!', admin_users_path %>
<% end %>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


  <%= yield %>

</body>
</html>
