<!DOCTYPE html>
<html>
<head>
  <title>Afrikart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" id="mynav" role="navigation">
    <div class="container">
      <div>
        <div class="navbar-header">
          <button id="menu-toggle" type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bar1"></span>
            <span class="icon-bar bar2"></span>
            <span class="icon-bar bar3"></span>
          </button>
          <ul class="navbar-brand page-scroll pull">
            <%= link_to image_tag('afrikart.logo.png'), root_path, id: "logo" %>

          </ul>
        </div> 
       
<div class="navbar-left navbar-form" role= "search">
       <%= form_tag search_artworks_path, method: :get, class: "search-form"  do %>
        <p>
          <%= text_field_tag :search, params[:search], class: "form-control"%>
          <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
        </p> 
        <% end %>
</div>

        <!-- <div class="collapse navbar-collapse navbar-ex1-collapse">
          <form class="navbar-form navbar-left" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for artworks,artists " name="q">
              <div class="input-group-btn">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form> -->


          <% if user_signed_in? %> 
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to  root_path do %>
              <i class="fa fa-home fa-2x"></i>
              <% end %></li>
              <% if current_user.artist %>
              <li><%= link_to  new_artwork_path do %>
               <i class="fa fa-upload fa-2x"></i>
               <% end %>
               <% end %></li>
               <li><%= link_to  destroy_user_session_path, :method => :delete, data: {confirm: 'Do you want to log out?'} do %> 
                <i class="fa fa-sign-out fa-2x"></i>
                <% end %></li>
                <li><%= link_to  edit_user_registration_path do %>
                  <i class="fa fa-user fa-2x"></i> 
                  <% end %></li>
                  <!-- <li><%= current_user.username %> <p>is signed in</p></li> -->
                </ul>
                <% else %>

                <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to  root_path do %>
                    <i class="fa fa-home fa-2x"></i>
                    <% end %></li>
                    <li><%= link_to 'Log In', new_user_session_path %></li>
                  </ul>
                  <%= link_to 'Be an artlover!', new_user_registration_path, class: 'btn btn-primary navbar-btn navbar-right' %>
                  <% end %>

                </div>
              </div>
            </div>
          </nav>

          <div class="clearfix visible-lg"></div>



<% if admin_signed_in? %>
<%= link_to'Create Artist. Admin ONLY!', new_admin_user_path %>
<% end %>


<% if admin_signed_in? %>
<%= link_to 'Admin Sign Out', destroy_admin_session_path, method: :delete,
data: {confirm: 'Are you sure?'} %>
<%= link_to 'View artists. Admin ONLY!', admin_users_path %>
<% end %>


<!-- <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> -->

<div class="space">

  <%= yield %>
</div>


</body>
</html>
